/*Mobile View first and later Screen view is added in @media*/

body{
	background-color: rgba(1,1,1,0.9);
	background-image: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../imgs/bg1.jpg");
	background-image: -moz-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../imgs/bg1.jpg");
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../imgs/bg1.jpg");
	/*background-repeat: no-repeat;*/
	/*background-size: 100% 100%; */
	background-position: left;
	color: rgba(255,255,255,0.7);
	padding:5%;
	padding-bottom: 0%;
	/*Main body padding, background and font clours*/
}

h1{
	display: block;
	color:rgba(255,255,0,0.9);
	margin-right: 0,auto;
	text-align: center;
	/*Name Tathagata Dey styling*/
}

.topnav a:not(:last-child) {
    display: none;
    /*God knows why not last child, but this works, so do not touch it! DARE NOT!*/
}
.topnav a.icon {
    float: left;
    display: block;
    color: #f2f2f2;
 	background-color: #333;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  	overflow: hidden;
  	/*The hamburger or Menu icon styling, when it is not openned. DARE NOT TOUCH THIS CODE!*/
  }

.topnav.responsive a {
    float: none;
    display: block;
    color: rgba(180,80,220,1);
  	text-align: left;
  	padding: 14px 16px;
  	text-decoration: none;
  	/*background-color: #333;*/
  	font-size: 17px;
  	overflow: hidden;
  	position: relative;
  	/*The Page links, when Menu icon is enabled. Took me hard times to code this. DON'T TOUCH!*/
}

.topnav.responsive a.icon{
    float: left;
    display: block;
    position: absolute;
    top: 4.5%;
    /*background-color: rgba(70,100,200,1);*/
	/*Menu icon styling when menu is open. DARE NOT TOUCH!*/    
}

.topnav.responsive a{
    float: none;
    text-align: right;
    /*Page Links. God knowa, why I added this at last. Well, as it works, DON'T TOUCH!*/
}


.topnav a:hover, .dropdown:hover .dropbtn {
	background-color: rgba(200,220,240,0.2);
	color: white;
	/*When we hover mouse over page links*/
}

.topnav a.active {
	background-color: rgba(255,255,255,0.2);
	color: rgba(180,80,220,1);
	/*The active page*/
}

h3{
	/*color:rgba(255,255,255,1);*/
	color: rgba(150,200,235,1);
	padding-top: 10%;
	/*The Other subtopic headings*/
}

section{
	margin-right: 11%;
	padding-bottom: 20%;
	text-align: justify;
	/*parent styling of list and te paragraps*/
}

section>span{
	text-align: justify;
	text-justify:inter-word;
	font-family: "palatino", "georgia";
	/*paragraph bodies*/
}


#welcome{
	margin: 0,auto;
	width: 100%;
	font-size: 3em;
	display: inline-block;
	/*The hello, namaste, namaskar part!*/
}

#page{
	margin-bottom: 25%;
	/*welcome to my page part*/
}


.animate1 {
	font-size: 80%;
	animation: animate1 2s infinite;
	/*Beloved friend animation*/
}

@keyframes animate1 {
	0% {
		color: #fff;
	}

	25%{
		color: #11ada2;	
	}

	50%{
		color: rgb(23, 86, 154);
	}

	100%{
		color: #fff;
	}
}


.animate-header::before {
	content: "";
	animation: inv 10s infinite linear;
	/*Multilingual animation*/
}

@keyframes inv{
	0%{
		content: "Hello";
		color: rgb(223, 86, 154);
		width: 75%;
	}
	25% {
		content: "नमस्ते";
		color:rgb(223, 86, 154);
	}
	50%{
		content:"নমস্কার";
		font-size: 85%;
		color: rgb(223, 86, 154);
	}
	75%{
		content: "Néih hóu";
		font-size: 70%;
		color: rgb(223, 86, 154);
	}
	100% {
		content: "Bonjour";
		font-size: 85%;
		color: rgb(223, 86, 154);
	}
}

#page{
	font-size: 150%;
	animation: anim1 2s infinite;
	/*welcome to my page animation*/
}

@keyframes anim1 {
	0% {
		color: #FF7F50;
	}
	25%{
		color: #E9967A;	
	}
	50%{
		color: #ADFF2F;
	}
	100%{
		color: #FFD700;
	}
}

main{
	font-family: "varela", "playfair display", "Frank Ruhl Libre", "cardo";
}

#image{
	margin:0,auto;
	width: 100%;
	/*padding-top: 15%;
	padding-bottom: 10%;
	margin: 10%;*/
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	align-content: center;

}

footer{
	color: rgba(150,240,235,1);
}


@media screen and (min-width: 1024px){
	body{
		background-color: rgba(1,1,1,0.9);
		background-image: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../imgs/screen4.jpeg");
		background-image: -moz-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../imgs/screen4.jpeg");
		background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../imgs/screen4.jpeg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		padding: 1%;
	}
	h1{
		display: block;
		color:rgba(255,255,0,0.9);
		margin-right: 0,auto;
		text-align: center;
		font-size: 350%;
		/*Name Tathagata Dey styling*/
	}
	.topnav a:not(:first-child), .dropdown .dropbtn {
		display: inline-block;
	 }
	.topnav a:first-child{
	    display:inline-block;
	}


	.topnav {
		background-color: rgba(255,255,255,0.1);
		overflow: hidden;
		margin-right: 7%;
		display: inline-block;
		float: right;
	}

	.topnav a.active {
		background-color: rgba(255,255,255,0.2);
		color: rgba(180,80,220,1);
	}

	.topnav a {
		float: left;
		display: inline-block;
		color: rgba(180,80,220,1);
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}
	#icon{
	    float:right;
	    display: none;
	}
  	figure{
  		width: 45%;
  		display: inline-block;
  	}

	#image{
		width: 70%;
		margin-left: 5%;
		/*margin-left: 60%;*/
	}
	main{
		display: inline-block;
		width: 45%;
		margin-bottom: 0%;
		margin-top: 0%;
		font-family:"cambria"; 
	}

	.animate-header{
		display: inline;
	}

	#welcome{
	margin: 0,auto;
	width: 100%;
	font-size: 3em;
	display: inline-block;
	/*The hello, namaste, namaskar part!*/
	}

	#page{
		margin-bottom: 5%;
		/*welcome to my page part*/
	}


	.animate1 {
		font-size: 80%;
		animation: animate1 2s infinite;
		/*Beloved friend animation*/
	}

	@keyframes animate1 {
		0% {
			color: #fff;
		}

		25%{
			color: #11ada2;	
		}

		50%{
			color: rgb(23, 86, 154);
		}

		100%{
			color: #fff;
		}
	}


	.animate-header::before {
		padding-bottom: 1%;
		content: "";
		animation: inv 10s infinite linear;
		/*Multilingual animation*/
	}

	@keyframes inv{
		0%{
			content: "Hello";
			color: rgb(223, 86, 154);
			width: 75%;
		}
		25% {
			content: "नमस्ते";
			color:rgb(223, 86, 154);
		}
		50%{
			content:"নমস্কার";
			font-size: 85%;
			color: rgb(223, 86, 154);
		}
		75%{
			content: "Néih hóu";
			font-size: 70%;
			color: rgb(223, 86, 154);
		}
		100% {
			content: "Bonjour";
			font-size: 85%;
			color: rgb(223, 86, 154);
		}
	}

	#page{
		font-size: 150%;
		padding-bottom: 25%;
		animation: anim1 2s infinite;
		/*welcome to my page animation*/
	}

	@keyframes anim1 {
		0% {
			color: #FF7F50;
		}
		25%{
			color: #E9967A;	
		}
		50%{
			color: #ADFF2F;
		}
		100%{
			color: #FFD700;
		}
	}


	main>h2{
		margin-bottom: 5%;
	}

	main>ul{
		width: 65%;
		font-size: 140%
	}

	h3{
	/*color:rgba(255,255,255,1);*/
	color: rgba(150,200,235,1);
	padding-top: 2%;
	font-size: 200%;
	/*The Other subtopic headings*/
	}

	section{
		margin: 0% 5%;
		margin-right: 15%;
		text-align: justify;
	}

	section>span{
		text-align: justify;
		text-justify:inter-word;
		font-size: 110%;
		/*paragraph bodies*/
	}
	section>ul{
		margin-bottom: 0%;
		font-size: 110%;
	}
	footer{
		text-align: right;
	}
}












